<div class="centered-content">
    <div class="modal-box">
        <h1 class="title">
            Create new list
        </h1>

        <div class="field is-grouped">
            <p class="control is-expanded">
              <input #TitleInput class="input has-background-light is-medium" type="text">
            </p>
            <p class="control">
              <button class="button is-info is-medium" (click)="createList(TitleInput.value)">+</button>
            </p>
          </div>

          <button routerLink="" class="button">Back</button>

    </div>
</div>
